# Java / Spring Boot
backend/target/
backend/.idea/
backend/*.iml

# Python
jobsearch-service/venv/
jobsearch-service/__pycache__/
jobsearch-service/*.pyc

# React 
frontend/node_modules/
frontend/dist/

# General
.env
.DS_Store